<mat-toolbar color="primary">
    <h1>Dalta Landlines Route Finder</h1>
</mat-toolbar>

<mat-card>
    <mat-card-content>
        <mat-card-title>Flight Input</mat-card-title>
        <mat-card-header class="input-header">Please put in your flight information:</mat-card-header>

        <mat-form-field class="flight-input">
            <input type="text" matInput id="station" name="station" placeholder="Station"
            [matAutocomplete]="auto" [(ngModel)]="station" [formControl]="formControl">
            <mat-autocomplete #auto="matAutocomplete" >
                <mat-option *ngFor="let element of filteredOptions | async" [value]="element">
                    {{element}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-radio-group class="radio-group" name="radio-group" [(ngModel)]="requestType">
            <mat-radio-button value="origin">Origin</mat-radio-button>
            <mat-radio-button value="destination">Destination</mat-radio-button>
        </mat-radio-group>

        <button mat-button class="submit-button" (click)="getFlights()" clickable>Submit</button>
    
    </mat-card-content>
</mat-card> 

<mat-card *ngIf="showTable">
    <mat-card-content>

        <table mat-table [dataSource]="dataSource" class="origin-table">

            <ng-container matColumnDef="origin">
                <th mat-header-cell *matHeaderCellDef> Origin </th>
                <td mat-cell *matCellDef="let route"> {{route.origin}} </td>
            </ng-container>

            <ng-container matColumnDef="destination">
                <th mat-header-cell *matHeaderCellDef> Destination </th>
                <td mat-cell *matCellDef="let route"> {{route.destination}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        </table>

    </mat-card-content>
</mat-card>

